%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%meta{:name => "description", :content => current_page.data.meta_desc}
%meta{:name => "keywords", :content => current_page.data.meta_key}
%meta{:name => "yandex-verification", :content => "62ffc9e5474beb05"}
%meta{:name => "google-site-verification", :content => "XUy3epM71eWuaSC1yG-aqCyYXPN3iEO5vTzOFpdcBz8"}
%meta{:property => "og:type", :content => "website"}
%meta{:property => "og:locale", :content => "ru_RU"}
%meta{:property => "og:site_name", :content => "Документация по Sass на русском языке"}
%meta{:property => "og:title", :content => current_page.data.title}
%meta{:property => "og:url", :content => "https://sass-scss.ru/" + current_page.path}
%meta{:property => "og:image", :content => "https://sass-scss.ru/assets/img/logo.png"}
