%meta(name="description" content="#{current_page.data.meta_desc}")/
%meta(name="keywords" content="#{current_page.data.meta_key}")/
%meta(name="viewport" content="width=device-width, initial-scale=1")/
%meta(name="yandex-verification" content="62ffc9e5474beb05")/
%meta(name="google-site-verification" content="XUy3epM71eWuaSC1yG-aqCyYXPN3iEO5vTzOFpdcBz8")/