---
title: "Что-то произошло не так :("
---

- content_for :css do
  = stylesheet_link_tag "404"

- content_for :introduction do
  Извините, но запрашиваемая Вами страница не найдена.

%p Похожие результаты:
%ul
  %li ошибочно набранные адреса
  %li не существующие ссылки

- content_for :complementary do
  :javascript
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
  %script(src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js")
