%h1 Немного о Sass

%p
  Изначально Sass разрабатывался как расширение к языку разметки Haml. Со временем Sass перерос свои первоначальные задачи и в настоящее
  время процветает намного лучше, чем его изначальный "родитель" Haml.

%h2 Язык Sass
%p
  Первоначально он был задуман
  = link_to "Hampton Catlin", "http://www.hamptoncatlin.com"
  в 2006 году, однако только он оставался активным членов Core Team вплоть до 2009 года, в связи с чем, об активном развиитии Sass не шло речи.
  = link_to "Natalie Weizenbaum", "http://nex-3.com/"
  - основной разработчик и дизайнер Sass и была она принята в команду после того, как сделала второй коммит в репозитории. В 2008,
  = link_to "Chris Eppstein", "http://chriseppstein.github.io/"
  присоединился к Sass Core Team, он более известен как создатель Compass. После вступления в команду, он и Натали создали большинство
  современных особенностей языка.
  joined the Sass Core Team and is 

%h2 Сайт Sass

%p
  Дизайн сайта Sass был выполнен Sass Design Team, возглавляемой
  = link_to "Jina Bolton", "http://sushiandrobots.com/"
  \.
