---
title: "#teamSass"
introduction: >
  Sass имеет прекрасное сообщество дизайнеров и разработчиков, которые любят
  высказываться и помогать людям. На данной страничке собрана небольшая коллекция ресурсов.
  Стилизуйте на здоровье!
meta_desc: Интересные и полезные статьи о sass, чем живет сообщество sass, как помочь развитию sass
meta_key: sass, scss, codeschool, css-tricks, less, bower, book, compass, susy, foundation, bootstrap, sassdoc, sassmeister, somegrids, community, сообщество
---

:markdown
  __Мы приветствуем всех в сообществе Sass, кроме тех, кто недоброжелателен
  по отношению к членам сообщества__. Пожалуйста, прочитайте и следуйте
  [принципам сообщества](/community-guidelines).

  Думаете __сделать вклад__ в развитие Sass? Мы принимаем во внимание
  любые факторы и идеи для того, чтобы оставаться постоянно стабильными.
  Не бойтесь [вносить правки через пулреквесты](#Contribute) в репозиторий Sass.

  Хотите создать свою реализацию Sass? Подробности на странице
  [руководство по внедрению](/implementation).

%h2#Contribute Вклад в развитие

:markdown

  Sass — [проект с открытым исходным кодом][github] и мы призываем Вас внести свой вклад. Вы можете внести свою лепту
  с помощью [сообщений об ошибках и пожеланий][issues], ну а если у Вас есть реальное решение,
  которое может нам всем помочь, то Вы останетесь в наших сердцах навсегда. Если вы хотите нам помочь, но не знаете как,
  то теги [Help Wanted][lang help] и [Dart Sass][dart help] в трекере ошибок помогут вам увидеть задачи, по которым
  требуется помощь. Под этим тегом вы найдете множество запросов на добавление новых возможностей, багов и других задач,
  которые не требуют интенсивной разработки, и по мнению разработчиков такие задачи - хорошее место для новых участников
  разработки.

  [github]: https://github.com/sass/sass
  [issues]: https://github.com/sass/sass/issues
  [lang help]: https://github.com/sass/sass/labels/Help%20Wanted
  [dart help]: https://github.com/sass/dart-sass/labels/help%20wanted

  [Dart Sass][] - эталонная реализация Sass и самая простая для изучения. Если вы не знаете Dart, не переживайте!
  Здесь нет ничего сложного. Узнайте больше нового на странице с [информацией][]. Или, если вы заинтересованы
  в добавлении новой функциональности в язык Sass, ознакомьтесь с [процедурами участия в разработке][].

  [Dart Sass]: /dart-sass
  [информацией]: https://github.com/sass/dart-sass/blob/master/CONTRIBUTING.md
  [процедурами участия в разработке]: https://github.com/sass/language/blob/master/CONTRIBUTING.md

- content_for :complementary do
  %nav.sl-c-list-navigation-wrapper
    :markdown
      ## Источники

      ### [Новости Sass](http://sass.news/)
      Новости сообщества Sass от дизайнера Sass core team [Jina Anne](https://www.sushiandrobots.com)

      ### [Погружение в Sass] (https://amzn.to/2LKF0uR)
      от Hugo Giraudel и Miriam Suzanne

      ### [Прагматичное руководство к Sass 3: Приручите современный CSS](https://amzn.to/2LEwXiZ)
      от Hampton Lintorn Catlin и Michael Lintorn Catlin

      ### [Sass для веб-дизайнеров](https://amzn.to/2RkIVU3)
      от Dan Cederholm

      ### [Sass и Compass в действии](https://amzn.to/2RjAQz7)
      от Wynn Netherland, Natalie Weizenbaum, Chris Eppstein, Brandon Mathis

      ### [Путь Sass](http://thesassway.com/)
