---
title: Стандарт качества кода
---

%p.introduction
  Если Вы хотите помочь сайту с кодом, пожалуйста, следуйте стандарту качества
  кода.

:markdown
  - Пожалуйста, старайтесь не превышать 78 знаков в строке.
  - Руководствуйтесь здравым смыслом в большей мере, чем краткостью в названии чего-либо.
  - Страницы имеют окончания `.html.haml`, `.html.erb`, `.html.md` и т.д.
  - Фрагменты и слои имеют окончания `.haml`, `.md`, `.erb` и т.д.

  ## Разметка
  В основном мы используем [Haml](http://haml.info/) и
  [Markdown](http://daringfireball.net/projects/markdown/) для написания разметки.
  Если Вам нужно использовать стандартный HTML, используйте HTML5, но со строгим
  соблюдением правил XHTML:

  - Используйте хорошо оформленную разметку; элементы должны быть правильно вложены и не
  должны пересекаться.
  - Не используйте в написании элементов и атрибутов заглавные буквы.
  - Обособляйте кавычками все атрибуты.
  - Непарные элементы должны иметь пробел перед закрывающим слешем: (`<br />`)

  ## Стиль
  Этот сайт использует Sass (невероятно <small>=)</small> ) в новом синтаксисе SCSS. Также
  мы используем:

  - [Compass](http://compass-style.org/)
  - [Susy](http://susy.oddbird.net/)
  - [Breakpoint](http://breakpoint-sass.com/)

  Убедитесть, что вы используете миксины и все их возможности, прежде чем перезаписывать
  что-либо, если только вы не можете поступить иначе.

  - Используйте имена классов с использованием дефисов (не camelCase или snake_case).
  - Для наименования используйте подход от общего к частному. Прочитайте
    [эту статью](http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-name-your-sass-variables-modularly/)
    для получения дополнительной информации.
  - Избегайте больших вложенностей.
  - Разделяйте селекторы запятыми на отдельных строках