---
title: Гид по стилю
---

- content_for (:introduction) do
  Хотите сделать свой вклад в развитие сайта? Прекрасно! Используйте данный гид
  по стилю, разработанный Team Sass Design. Если вы используйте новый дизайн, 
  не забудьте в этом разделе задокументировать его.

%h2 Цели портала

%ol.list-feature
  %li Рассказать о том, почему Sass является лучшим CSS препроцессором и почему мы все должны его использовать.
  %li
    Быть ресурсом для тех, кто готов использовать Sass, вне зависимости от уровня
    пользователя.
