---
title: Руководство по стилю
---

- content_for (:introduction) do
  Хотите сделать свой вклад в развитие сайта? Прекрасно! Используйте это руководство
  по стилю, разработанное Team Sass Design. Если вы используете новый дизайн, 
  не забудьте задокументировать его в этом разделе.

%h2 Цели портала

%ol.list-feature
  %li Рассказать о том, почему Sass является лучшим CSS-препроцессором и почему мы все должны его использовать.
  %li
    Быть ресурсом для тех, кто готов использовать Sass, вне зависимости от уровня
    пользователя.