---
title: Team Sass Design
---

%p.introduction
  %strong Team Sass Design
  команда дизайнеров, которые сделали редизайн бренда и сайта Sass. Вы можете
  следить за ними в Твиттере, чтобы первее всех узнать о изменениях на сайте
  и других плюшках:
  
  %a.twitter-follow-button(href="https://twitter.com/TeamSassDesign" data-show-count="false" data-size="large") Follow @TeamSassDesign
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

%dl
  %dt Team Sass Design:
  %dd
    %ul
      %li
        = succeed "," do
          = link_to "Jina", "http://jina.me"
        Тимлид
      - data.team.crew.each do |member|
        %li= link_to member.name, member.link

%dl
  %dt Основные участники в разработке сайта
  %dd
    %ul
      - data.team.core.each do |member|
        %li= link_to member.name, member.link

%p
  Кроме того, много людей, которые посещают <a href="http://sassconf.com">SassConf 2013</a>
  подключились и помогли развернуть данный портал. Спасибо огромное за это.
